package cookiestore

import (
	"net/http"
	"time"

	"github.com/gorilla/sessions"
)

func New(hashKey, blockKey []byte, domain string, maxAge time.Duration, secure bool) sessions.Store {
	if maxAge <= 0 {
		maxAge = 24 * time.Hour
	}

	store := sessions.NewCookieStore(hashKey, blockKey)
	store.Options = &sessions.Options{
		Path:     "/",
		Domain:   domain,
		MaxAge:   int(maxAge.Seconds()),
		HttpOnly: true,
		SameSite: http.SameSiteStrictMode,
		Secure:   secure,
	}
	return store
}